<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="EntitiesSeguAcceso" connectionString="metadata=res://*/ModelSeguAcceso.csdl|res://*/ModelSeguAcceso.ssdl|res://*/ModelSeguAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesGeneral" connectionString="metadata=res://*/ModelGeneral.csdl|res://*/ModelGeneral.ssdl|res://*/ModelGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario" connectionString="metadata=res://*/ModelInventario.csdl|res://*/ModelInventario.ssdl|res://*/ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesDBConta" connectionString="metadata=res://*/ModelConta.csdl|res://*/ModelConta.ssdl|res://*/ModelConta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa" connectionString="metadata=res://*/Produccion_Edehsa.ModelProduccion_Edehsa.csdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.ssdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="EntitiesObra" connectionString="metadata=res://*/ModelObra.csdl|res://*/ModelObra.ssdl|res://*/ModelObra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion" connectionString="metadata=res://*/ModelFacturacion.csdl|res://*/ModelFacturacion.ssdl|res://*/ModelFacturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>