<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Visual Studio 2013 Light</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>    
    <add name="EntitiesConta_General" connectionString="metadata=res://*/ModelGeneralContab.csdl|res://*/ModelGeneralContab.ssdl|res://*/ModelGeneralContab.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_General" connectionString="metadata=res://*/Model_Inventario_General.csdl|res://*/Model_Inventario_General.ssdl|res://*/Model_Inventario_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompra_reporte_Ge" connectionString="metadata=res://*/ModelCompra_Report_Ge.csdl|res://*/ModelCompra_Report_Ge.ssdl|res://*/ModelCompra_Report_Ge.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCidersus_reporte_Gene" connectionString="metadata=res://*/ModelCidersus_Reportes_General.csdl|res://*/ModelCidersus_Reportes_General.ssdl|res://*/ModelCidersus_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRolesRptGeneral" connectionString="metadata=res://*/ModelRolesReportesGeneral.csdl|res://*/ModelRolesReportesGeneral.ssdl|res://*/ModelRolesReportesGeneral.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Reporte_Ge" connectionString="metadata=res://*/ModelBancos_Reportes_General.csdl|res://*/ModelBancos_Reportes_General.ssdl|res://*/ModelBancos_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja_General" connectionString="metadata=res://*/ModelCaja_Rpt_Geneal.csdl|res://*/ModelCaja_Rpt_Geneal.ssdl|res://*/ModelCaja_Rpt_Geneal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DBERP_EDEEntities" connectionString="metadata=res://*/Model_Facturacion_Reportes.csdl|res://*/Model_Facturacion_Reportes.ssdl|res://*/Model_Facturacion_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Reportes" connectionString="metadata=res://*/Model_Facturacion_Reportes.csdl|res://*/Model_Facturacion_Reportes.ssdl|res://*/Model_Facturacion_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidadRptGeneral" connectionString="metadata=res://*/ModelContabilidad_ReportesGeneral.csdl|res://*/ModelContabilidad_ReportesGeneral.ssdl|res://*/ModelContabilidad_ReportesGeneral.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CuentasxCobrar" connectionString="metadata=res://*/Model_CuentasxCobrar_Reportes.csdl|res://*/Model_CuentasxCobrar_Reportes.ssdl|res://*/Model_CuentasxCobrar_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ActivoFijo_Reportes" connectionString="metadata=res://*/Model_ActivoFijo_Reportes.csdl|res://*/Model_ActivoFijo_Reportes.ssdl|res://*/Model_ActivoFijo_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Academico_Reporte" connectionString="metadata=res://*/Model_Academico_Reportes.csdl|res://*/Model_Academico_Reportes.ssdl|res://*/Model_Academico_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxCobrar_Natu_rpt" connectionString="metadata=res://*/ModelCuentasxCobrar_Natu_rpt.csdl|res://*/ModelCuentasxCobrar_Natu_rpt.ssdl|res://*/ModelCuentasxCobrar_Natu_rpt.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp;initial catalog=DBERP_PRODUCCION;user id=sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=erp.edehsa.local;database=DBERP_PRODUCCION;user id=mysql_sa;password=admin*2012;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.31.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.27.0" newVersion="8.0.27.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>