<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bizu.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bizu.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EntitiesGeneral" connectionString="metadata=res://*/ModelGeneral.csdl|res://*/ModelGeneral.ssdl|res://*/ModelGeneral.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesDBConta" connectionString="metadata=res://*/ModelConta.csdl|res://*/ModelConta.ssdl|res://*/ModelConta.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesSeguAcceso" connectionString="metadata=res://*/ModelSeguAcceso.csdl|res://*/ModelSeguAcceso.ssdl|res://*/ModelSeguAcceso.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBanco" connectionString="metadata=res://*/ModelBancos.csdl|res://*/ModelBancos.ssdl|res://*/ModelBancos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras" connectionString="metadata=res://*/ModelCompras.csdl|res://*/ModelCompras.ssdl|res://*/ModelCompras.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_GE" connectionString="metadata=res://*/ModelCompras_GE.csdl|res://*/ModelCompras_GE.ssdl|res://*/ModelCompras_GE.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;data source=193.203.166.146;initial catalog=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo" connectionString="metadata=res://*/ModelActivoFijo.csdl|res://*/ModelActivoFijo.ssdl|res://*/ModelActivoFijo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRoles" connectionString="metadata=res://*/ModelRoles.csdl|res://*/ModelRoles.ssdl|res://*/ModelRoles.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion" connectionString="metadata=res://*/ModelProduccion.csdl|res://*/ModelProduccion.ssdl|res://*/ModelProduccion.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar" connectionString="metadata=res://*/ModelCuentasxCobrar.csdl|res://*/ModelCuentasxCobrar.ssdl|res://*/ModelCuentasxCobrar.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesImportacion" connectionString="metadata=res://*/ModelImportacion.csdl|res://*/ModelImportacion.ssdl|res://*/ModelImportacion.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario" connectionString="metadata=res://*/ModelInventario.csdl|res://*/ModelInventario.ssdl|res://*/ModelInventario.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPresupuesto" connectionString="metadata=res://*/ModelPresupuesto.csdl|res: //*/ModelPresupuesto.ssdl|res://*/ModelPresupuesto.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Cidersus" connectionString="metadata=res://*/ModelProduccion_cidersus.csdl|res://*/ModelProduccion_cidersus.ssdl|res://*/ModelProduccion_cidersus.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;Persist Security Info=True;user id=u933715064_Test;password=@M1n0T4ur0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja" connectionString="metadata=res://*/ModelCaja.csdl|res://*/ModelCaja.ssdl|res://*/ModelCaja.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesConta_General" connectionString="metadata=res://*/ModelGeneralContab.csdl|res://*/ModelGeneralContab.ssdl|res://*/ModelGeneralContab.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_General" connectionString="metadata=res://*/Model_Inventario_General.csdl|res://*/Model_Inventario_General.ssdl|res://*/Model_Inventario_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompra_reporte_Ge" connectionString="metadata=res://*/ModelCompra_Report_Ge.csdl|res://*/ModelCompra_Report_Ge.ssdl|res://*/ModelCompra_Report_Ge.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCidersus_reporte_Gene" connectionString="metadata=res://*/ModelCidersus_Reportes_General.csdl|res://*/ModelCidersus_Reportes_General.ssdl|res://*/ModelCidersus_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRolesRptGeneral" connectionString="metadata=res://*/ModelRolesReportesGeneral.csdl|res://*/ModelRolesReportesGeneral.ssdl|res://*/ModelRolesReportesGeneral.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Reporte_Ge" connectionString="metadata=res://*/ModelBancos_Reportes_General.csdl|res://*/ModelBancos_Reportes_General.ssdl|res://*/ModelBancos_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja_Gen" connectionString="metadata=res://*/ModelCaja_Reportes_General.csdl|res://*/ModelCaja_Reportes_General.ssdl|res://*/ModelCaja_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Seguridad_Acceso" connectionString="metadata=res://*/ModelSeguridadYAcceso.csdl|res://*/ModelSeguridadYAcceso.ssdl|res://*/ModelSeguridadYAcceso.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CuentasxCobrar" connectionString="metadata=res://*/Model_CuentasxCobrar_Reportes.csdl|res://*/Model_CuentasxCobrar_Reportes.ssdl|res://*/Model_CuentasxCobrar_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ActivoFijo_Reportes" connectionString="metadata=res://*/Model_ActivoFijo_Reportes.csdl|res://*/Model_ActivoFijo_Reportes.ssdl|res://*/Model_ActivoFijo_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidadRptGeneral" connectionString="metadata=res://*/ModelContabilidad_ReportesGeneral.csdl|res://*/ModelContabilidad_ReportesGeneral.ssdl|res://*/ModelContabilidad_ReportesGeneral.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Reportes" connectionString="metadata=res://*/Model_Facturacion_Reportes.csdl|res://*/Model_Facturacion_Reportes.ssdl|res://*/Model_Facturacion_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Academico_Reporte" connectionString="metadata=res://*/Model_Academico_Reportes.csdl|res://*/Model_Academico_Reportes.ssdl|res://*/Model_Academico_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja_General" connectionString="metadata=res://*/ModelCaja_Rpt_Geneal.csdl|res://*/ModelCaja_Rpt_Geneal.ssdl|res://*/ModelCaja_Rpt_Geneal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Edehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventarioEdehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa_Rpt" connectionString="metadata=res://*/ModelProduccion_Edehsa_Rpt.csdl|res://*/ModelProduccion_Edehsa_Rpt.ssdl|res://*/ModelProduccion_Edehsa_Rpt.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_Edehsa" connectionString="metadata=res://*/Compras_Edehsa.ModelCompras_Edehsa.csdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.ssdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa" connectionString="metadata=res://*/Produccion_Edehsa.ModelProduccion_Edehsa.csdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.ssdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxPagar" connectionString="metadata=res://*/ModelCuentasxPagar.csdl|res://*/ModelCuentasxPagar.ssdl|res://*/ModelCuentasxPagar.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion" connectionString="metadata=res://*/ModelFacturacion.csdl|res://*/ModelFacturacion.ssdl|res://*/ModelFacturacion.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Produccion_Reportes_Edehsa" connectionString="metadata=res://*/Produccion.Model_Produccion_Reportes_Edehsa.csdl|res://*/Produccion.Model_Produccion_Reportes_Edehsa.ssdl|res://*/Produccion.Model_Produccion_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Edehsa" connectionString="metadata=res://*/Facturacion_Edehsa.ModelFacturacion_Edehsa.csdl|res://*/Facturacion_Edehsa.ModelFacturacion_Edehsa.ssdl|res://*/Facturacion_Edehsa.ModelFacturacion_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Bancos_Edehsa" connectionString="metadata=res://*/Bancos_Edehsa.ModelBancos_Edehsa.csdl|res://*/Bancos_Edehsa.ModelBancos_Edehsa.ssdl|res://*/Bancos_Edehsa.ModelBancos_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesSubirArchivos" connectionString="metadata=res://*/CuentasxPagar_Poligrup.ModelSubirArchivos.csdl|res://*/CuentasxPagar_Poligrup.ModelSubirArchivos.ssdl|res://*/CuentasxPagar_Poligrup.ModelSubirArchivos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar_Edehsa" connectionString="metadata=res://*/CuentasxCobrar_Edehsa.Model.csdl|res://*/CuentasxCobrar_Edehsa.Model.ssdl|res://*/CuentasxCobrar_Edehsa.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Facturacin_Edehsa" connectionString="metadata=res://*/Model_Facturacion_Reportes_Edehsa.csdl|res://*/Model_Facturacion_Reportes_Edehsa.ssdl|res://*/Model_Facturacion_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidad_Edehsa" connectionString="metadata=res://*/Model_Contabilidad_Reportes_Edehsa.csdl|res://*/Model_Contabilidad_Reportes_Edehsa.ssdl|res://*/Model_Contabilidad_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CuentasxCobrar_Reportes_Edehsa" connectionString="metadata=res://*/Model_CuentasxCobrar_Reportes_Edehsa.csdl|res://*/Model_CuentasxCobrar_Reportes_Edehsa.ssdl|res://*/Model_CuentasxCobrar_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Reportes_Edehsa" connectionString="metadata=res://*/Model_Bancos_Reportes_Edehsa.csdl|res://*/Model_Bancos_Reportes_Edehsa.ssdl|res://*/Model_Bancos_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_Reportes_Edehsa" connectionString="metadata=res://*/Model_Inventario_Reportes_Edehsa.csdl|res://*/Model_Inventario_Reportes_Edehsa.ssdl|res://*/Model_Inventario_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxPagar_Edehsa" connectionString="metadata=res://*/CuentasxPagar_Edehsa.ModelCuentasxPagar_Edehsa.csdl|res://*/CuentasxPagar_Edehsa.ModelCuentasxPagar_Edehsa.ssdl|res://*/CuentasxPagar_Edehsa.ModelCuentasxPagar_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxPagar_Reportes_Edehsa" connectionString="metadata=res://*/Model_CuentasxPagar_Reportes_Edehsa.csdl|res://*/Model_CuentasxPagar_Reportes_Edehsa.ssdl|res://*/Model_CuentasxPagar_Reportes_Edehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_Edehsa_Reporte" connectionString="metadata=res://*/ModelCompras_Edehsa_Reporte.csdl|res://*/ModelCompras_Edehsa_Reporte.ssdl|res://*/ModelCompras_Edehsa_Reporte.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesMantenimiento" connectionString="metadata=res://*/ModelMantenimiento.csdl|res://*/ModelMantenimiento.ssdl|res://*/ModelMantenimiento.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesObra" connectionString="metadata=res://*/ModelObra.csdl|res://*/ModelObra.ssdl|res://*/ModelObra.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelMantenimiento_ReportesContainer" connectionString="metadata=res://*/ModelMantenimiento_Reportes.csdl|res://*/ModelMantenimiento_Reportes.ssdl|res://*/ModelMantenimiento_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Obra_Reportes" connectionString="metadata=res://*/ModelObra_Reportes.csdl|res://*/ModelObra_Reportes.ssdl|res://*/ModelObra_Reportes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesMail" connectionString="metadata=res://*/ModelMail.csdl|res://*/ModelMail.ssdl|res://*/ModelMail.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="localhost_DBERP_PRODUCCION_Connection" connectionString="XpoProvider=MySql;server=193.203.166.146;port=3306;user id=; password=; database=u933715064_prueba;persist security info=true;CharSet=utf8;" />
    <add name="193.203.166.146.local_DBERP_PRODUCCION_Connection" connectionString="XpoProvider=MySql;server=193.203.166.146;port=3306;user id=u933715064_Test; password=@M1n0T4ur0; database=u933715064_prueba;persist security info=true;CharSet=utf8;" />
    <add name="localhost_DBERP_PRODUCCION_Connection 1" connectionString="XpoProvider=MySql;server=193.203.166.146;port=3306;user id=u933715064_Test; password=@M1n0T4ur0; database=u933715064_prueba;persist security info=true;CharSet=utf8;" />
    <add name="ModelCajaEdehsaContainer" connectionString="metadata=res://*/Caja_Edehsa.ModelCajaEdehsa.csdl|res://*/Caja_Edehsa.ModelCajaEdehsa.ssdl|res://*/Caja_Edehsa.ModelCajaEdehsa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=193.203.166.146;database=u933715064_prueba;user id=u933715064_Test;password=@M1n0T4ur0;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.31.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <applicationSettings>
    <Bizu.Presentation.Properties.Settings>
      <setting name="ConfRegional" serializeAs="String">
        <value>es-EC</value>
      </setting>
    </Bizu.Presentation.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.DirectoryServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.ComponentModelHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.27.0" newVersion="8.0.27.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWs_Comprobante" maxReceivedMessageSize="10000000" />
        <binding name="BasicHttpBinding_IWs_Empresa" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://193.203.166.146/WS_EFIRM/Ws_Comprobante.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWs_Comprobante" contract="WSEfirm_cbte.IWs_Comprobante" name="BasicHttpBinding_IWs_Comprobante" />
      <endpoint address="http://193.203.166.146/WS_Efirm/Ws_Empresa.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWs_Empresa" contract="WSEfirm_Empresa.IWs_Empresa" name="BasicHttpBinding_IWs_Empresa" />
    </client>
  </system.serviceModel>
  <system.windows.forms jitDebugging="true" />
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ApiComprobante" value="http://10.0.0.9/efirm_ws/api/comprobantes.php" />
  </appSettings>
  <userSettings>
    <Bizu.Presentation.Properties.Settings>
      <setting name="SkinName" serializeAs="String">
        <value>The Bezier</value>
      </setting>
      <setting name="Palette" serializeAs="String">
        <value>Office Black</value>
      </setting>
    </Bizu.Presentation.Properties.Settings>
  </userSettings>
</configuration>