<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Host=localhost;Port=5432;Database=zafiro;Username=postgres;Password=M1n0T4ur0"
			 providerName="Npgsql" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="Npgsql.NpgsqlFactory, Npgsql" />
		<providers>
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Data Provider"
				 invariant="Npgsql"
				 description=".Net Framework Data Provider for Postgresql"
				 type="Npgsql.NpgsqlFactory, Npgsql" />
		</DbProviderFactories>
	</system.data>
</configuration>
